@model practica.EF.MVC.Models.EmployeesView

@{
    ViewBag.Title = "Update Page";
}

<h1>Edit Employee Data</h1>

@using (Html.BeginForm("Update", "Employees", FormMethod.Post))
{
    @Html.LabelFor(e => e.EmpFirstName)
    @Html.TextBoxFor(e => e.EmpFirstName, "", new { @class = "form-control" })
    <br />
    @Html.LabelFor(e => e.EmpLastName)
    @Html.TextBoxFor(e => e.EmpLastName, "", new { @class = "form-control" })
    <br />
    <input type="submit" class="btn btn-success" value="Save Data" />
    <input type="reset" class="btn btn-primary" value="Clear Entries" />
    <input type="button" class="btn btn-info" value="Back to Table" onclick="location.href='index'" />
}

